body{
    margin: 0px;
}

.barraarriba{
    width: 100%;
    height: 10%;
    background-color: #1e1b1e;
    display: flex;
    align-items: center;
    
}
.dividir{
    display: flex;
    margin-right: 40%;
    margin-left: 7%;
}
.logotipo{
    border-radius: 60px;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.botonheader{
    border: none;
    color: #aa7e62;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 50px;
    height: 3em;
    width: 11em;
    margin-left: 5px;
    margin-right: 10%;
    padding: 0 2%;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 2.0px;
    font-family: Arial, Helvetica, sans-serif;
}

.efectoboton {
    background-color: #aa7e62; 
    color: white; 
    border: 2px solid #765845;
  }

  .efectoboton:hover {
    background-color: #765845;
    color: white;
  }

.primerbloque{
    display: inline-flex;
}
.fotoizq{
    
    margin-top: 3.5%;
    border-radius: 10px;
    border-style: outset;
}
.textoder{
    width: 50%;
    padding: 1%;
    margin-top: 3%;
    margin-left: 5% ;
    
    border-radius: 5px;
}
.enunciado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.enlace{
    text-decoration: none;
    color: white;
}
a{
    color: black;
    text-decoration: none;
}

.barra1{
    margin-left: 5%;
    margin-top: 1%;
    height: 40px;
    width: 88%;
    background-color: #1e1b1e;
    margin-bottom: 1%;
    border-radius: 10px;
}

.barra2{
    margin-left: 5%;
    margin-top: 1%;
    height: 40px;
    width: 88%;
    background-color: #1e1b1e;
    border-radius: 10px;
}
.segundobloque{
    margin-top: 10px;
    width: 98%;
    display: inline-flex;

}
.primerbloquefondo{
    background-color: white;
    margin-left: 5%;
    margin-right: 7%;
}
.segundobloquefondo{
    background-color: #765845;
    margin-left: 5%;
    margin-right: 7%;
    border-radius: 10px;
}
.tercerbloquefondo{
    background-color: white;
    margin-left: 5%;
    margin-right: 7%;
    border-radius: 10px;
}

.fotoder{
    margin-left: 3%;
    margin-top: 6%;
    margin-bottom: 3%;
    border-radius: 10px;
    border-style: outset;
}

.textoizq{
    background-color: #765845;
    border-radius: 5px;
    width: 50%;
    padding: 1%;
    margin: 3%;
    
}

.tercerbloque{
    display: inline-flex;
}
.barraabajo{
    background-color: #1e1b1e;
    display: inline-flex;
    width: 100%;
    height: 150px;
    margin-top: 5%;
}

.lema{
    color: white;
    width: 34%;
    margin: 1%;
    background-color: #1e1b1e;
}

.contacto{
    color: white;
    width: 34%;
    background-color: #1e1b1e;
    margin: 1%;
}

.redes{
    color: white;
    width: 33%;
    background-color: #1e1b1e;
    margin: 1%;
}