body{
    margin: 0px;;
    /*background-color: #e5b1a6;*/
}
.barraarriba{
    width: 100%;
    align-items: center;
    background-color: #1e1b1e;
    display: flex;
   
}
.dividir{
    display: flex;
    margin-right: 40%;
    margin-left: 7%;
}
.logotipo{
    border-radius: 60px;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.carta{
    border: 1px solid black;
    width: 39%;
    height: 250px;
    margin-left: 3%;
    border-radius: 10px;
    background-image:url("../imagenes/bannercarta.jpg") ;
    background-size: cover;
}

.oferta{
    border: 1px solid black;
    width: 50%;
    height: 250px;
    margin-left: 5%;
    border-radius: 10px;
    background-image: url("../imagenes/banneroferta.jpg");
    background-size: cover;
}

.botonheader{
    border: none;
    color: #aa7e62;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 50px;
    height: 3em;
    width: 11em;
    margin-left: 5px;
    margin-right: 10%;
    padding: 0 2%;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 2.0px;
    font-family: Arial, Helvetica, sans-serif;
}

.efectoboton {
    background-color: #aa7e62; 
    color: white; 
    border: 2px solid #765845;
  }

  .efectoboton:hover {
    background-color: #765845;
    color: white;
  }

.pedircafe{
    background-image: url("Logo.jpg");
}

.primerbloque{
    height: 45%;
    width: 100%;
    display: inline-flex;
    margin-top: 5%;
}

.botoncuerpo{
    width: 20%;
    margin-top: 18%;
    margin-left: 40%;
    height: 8%;
    margin-top: 40%;
    padding-left: 0.1%;
    padding-right: 0.1%;
    background-color: #b39c8c ;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.botoncuerpo2{
    width: 20%;
    margin-top: 18%;
    margin-left:60%;
    height: 8%;
    margin-top: 30%;
    padding-left: 0.1%;
    padding-right: 0.1%;
    background-color: #b39c8c ;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.efectoboton2 {
    background-color: #aa7e62; 
    color: white; 
    border: 1px solid #33251d;
  }

  .efectoboton2:hover {
    background-color: #765845;
    color: white;
  }

.segundobloque{
    height: 40%;
    width: 100%;
    display: inline-flex;
    margin-top: 5%;
}

.textoaplicacion{
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    width: 35%;
    height: 300px;
    background-color: #765845;
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.textoapp{
    
    text-align: center;
    font-size: 20px;
}

.tituloapp{
    text-align: center;
    font-size: 30px;
}

.store{
   
    width: 25%;
    margin-left: 5%;
}

.imagenesapp{
    margin-left: 25%;
}

.fotosapp{
    border: 1px solid black;
    width: 50%;
    background-image: url("");
    background-size: cover;
    margin-left: 5%;
    border-radius: 10px;
}
.bannermovil{
    margin-left: 250px;
    margin-top: 50px;
}

.barraabajo{
    background-color: #1e1b1e;
    display: inline-flex;
    width: 100%;
    height: 120px;
    margin-top: 5%;
}

.lema{
    color: white;
    width: 34%;
    margin-left: 4%;
    margin-top: 1%;
    background-color: #1e1b1e;
}

.contacto{
    color: white;
    width: 34%;
    background-color: #1e1b1e;
    margin: 1%;
}

.redes{
    color: white;
    width: 33%;
    background-color: #1e1b1e;
    margin-left: 4%;
    margin-top: 2%;
}
