
body{
    margin: 0px;
}

.todo{
    display: flex;
    flex-direction: row;
    
}
.izquierda{
    background-image: url("../imagenes/fondocarta.png");
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid black;
    width: 40%;
    height: 1000px;
}

.derecha{
    display: flex;
    width: 50%;
    margin-left: 5%;
    flex-direction: column;
}

.cuadrado{
    box-shadow: 15px 5px 10px #48529944;
    width: 200px;
    height: 200px;
    margin: 7%;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.062);
}

.primerafila{ 
    display: flex;
    
}
.segundafila{
    display: flex;
}

.tercerafila{
    display: flex;
}

.boton{
	position: relative;
	display: block;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	overflow: hidden;
	color:rgb(0, 0, 0);
	cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	box-shadow:inset 0 0 0 1px #76584581;
	text-decoration: none;
	transition: all ease 1s;
	background:#765845;
}
 
.boton:after, .boton:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}
 
.boton:before{
	left: -48%;
}
 
.boton:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#b4886c
}
 
.boton:hover:after, .boton:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 1s;
}
 
.boton:hover:after{
	right: 130%;
}
 
.boton:hover:before{
	left: 130%;
}
	

.cuadrado1{
background-image: url("../imagenes/cafe-solo.png");
background-size: cover;
height: 180px;

}

.cuadrado2{
    background-image: url("../imagenes/cafe_irlandes.png");
    background-size: contain;
    height: 180px;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: white;
  }
  
  .tooltip .tooltiptext {
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.534);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
.cuadrado3{
    background-image: url("../imagenes/cafe\ ecologico.png");
background-size: cover;
height: 180px;

}
.cuadrado4{
    background-image: url("../imagenes/muffin\ mermelada.png");
background-size: cover;
height: 180px;

}
.cuadrado5{
    background-image: url("../imagenes/muffin\ pepitas.png");
background-size: cover;
height: 180px;

}
.cuadrado6{
    background-image: url("../imagenes/capuchino.png");
background-size: cover;
height: 180px;

}

.barraarriba{
    width: 100%;
    align-items: center;
    background-color: #1e1b1e;
    display: flex;
   
}
.dividir{
    display: flex;
    margin-right: 40%;
    margin-left: 7%;
}
.logotipo{
    border-radius: 60px;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.botonheader{
    border: none;
    color: #aa7e62;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 50px;
    height: 3em;
    width: 11em;
    margin-left: 5px;
    margin-right: 10%;
    padding: 0 2%;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 2.0px;
    font-family: Arial, Helvetica, sans-serif;
}

.efectoboton {
    background-color: #aa7e62; 
    color: white; 
    border: 2px solid #765845;
  }

  .efectoboton:hover {
    background-color: #765845;
    color: white;
  }

  .barraabajo{
    background-color: #1e1b1e;
    display: inline-flex;
    width: 100%;
    height: 120px;
    }

.lema{
    color: white;
    width: 34%;
    margin-left: 4%;
    margin-top: 1%;
    background-color: #1e1b1e;
}

.contacto{
    color: white;
    width: 34%;
    background-color: #1e1b1e;
    margin: 1%;
}

.redes{
    color: white;
    width: 33%;
    background-color: #1e1b1e;
    margin-left: 4%;
    margin-top: 2%;
}
