
.barraarriba{
    width: 100%;
    height: 10%;
    background-color: #1e1b1e;
    display: inline-flex;
    margin: 0px;
}

.logotipo{
    border-radius: 60px;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.botonheader{
    width: 10%;
    margin-top: 3%;
    margin-left: 7%;
    height: 10%;
    padding-top: 0.1%;
    padding-left: 0.1%;
    padding-right: 0.1%;
    background-color: #765845 ;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 2.5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.botonheader2{
    width: 10%;
    margin-top: 3%;
    margin-left: 40%;
    height: 10%;
    padding-top: 0.1%;
    padding-left: 0.1%;
    padding-right: 0.1%;
    background-color: #765845 ;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 2.5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.primerbloque{
    display: inline-flex;
}
.fotoizq{
    margin-left: 5%;
    margin-top: 3.5%;
}
.textoder{
    width: 50%;
    padding: 1%;
    margin-top: 3.5%;
    margin-left: 10% ;
    border: 1px solid black;
    border-radius: 5px;
}
.enunciado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.enlace{
    text-decoration: none;
    color: white;
}
a{
    color: black;
    text-decoration: none;
}

.barra1{
    margin-left: 5%;
    margin-top: 1%;
    height: 50px;
    width: 88%;
    background-color: #1e1b1e;
}

.barra2{
    margin-left: 5%;
    margin-top: 1%;
    height: 50px;
    width: 88%;
    background-color: #1e1b1e;
}
.segundobloque{
    
    width: 98%;
    display: inline-flex;
}
.fotoder{
    margin-left: 3%;
    margin-top: 3.5%;
}

.textoizq{
    background-color: #765845;
border-radius: 5px;
    width: 54%;
    padding: 1%;
    margin-top: 3.5%;
    margin-left: 5.1% ;
    border: 1px solid black;
}

.tercerbloque{
    display: inline-flex;
}
.barraabajo{
    background-color: #1e1b1e;
    display: inline-flex;
    width: 100%;
    height: 150px;
    margin-top: 5%;
}

.lema{
    color: white;
    width: 34%;
    margin: 1%;
    background-color: #1e1b1e;
}

.contacto{
    color: white;
    width: 34%;
    background-color: #1e1b1e;
    margin: 1%;
}

.redes{
    color: white;
    width: 33%;
    background-color: #1e1b1e;
    margin: 1%;
}