.formularios{
    display: flex;
    
}

.contenedori{
    border: 1px solid black;
    width: 39%;
    height: 420px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-left: 5%;
    border-radius: 10px;
    margin: auto;
    background-color: beige;
    margin-top: 5%;
}


.contenedord{
    border: 1px solid black;
    width: 39%;
    height: 420px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-left: 5%;
    border-radius: 10px;
    margin: auto;
    background-color: beige;
    margin-top: 5%;
    
}
.fotofondo{
    background-image: url(../imagenes/trabaja.jpg);
}
.texto_formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}
.boton_enviar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
}
body{
    margin: 0px;;
    /*background-color: #e5b1a6;*/
}
.barraarriba{
    width: 100%;
    align-items: center;
    background-color: #1e1b1e;
    display: flex;
   
}
.dividir{
    display: flex;
    margin-right: 40%;
    margin-left: 7%;
}
.logotipo{
    border-radius: 60px;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.barraabajo{
    background-color: #1e1b1e;
    display: inline-flex;
    width: 100%;
    height: 120px;
    margin-top: 5%;
}

.lema{
    color: white;
    width: 34%;
    margin-left: 4%;
    margin-top: 1%;
    background-color: #1e1b1e;
}

.contacto{
    color: white;
    width: 34%;
    background-color: #1e1b1e;
    margin: 1%;
}

.redes{
    color: white;
    width: 33%;
    background-color: #1e1b1e;
    margin-left: 4%;
    margin-top: 2%;
}
.botonheader{
    border: none;
    color: #aa7e62;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 50px;
    height: 3em;
    width: 11em;
    margin-left: 5px;
    margin-right: 10%;
    padding: 0 2%;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 2.0px;
    font-family: Arial, Helvetica, sans-serif;
}

.efectoboton {
    background-color: #aa7e62; 
    color: white; 
    border: 2px solid #765845;
    }

    .efectoboton:hover {
    background-color: #765845;
    color: white;
}
.logotipo{
    border-radius: 60px;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.dividir{
    display: flex;
    margin-right: 40%;
    margin-left: 7%;
}